<body>
<!-- Sang qui coule (en haut de la page) -->

<div class="container">
  <img src="assets/background/topblood.png" alt="Sang qui coule" class="top-blood" />

  <h1>Zombicide</h1>
  <p class="description">
    Préparez-vous à survivre dans un monde infesté de zombies. Rassemblez votre équipe, explorez des lieux dangereux, et éliminez les morts-vivants !</p>
  <p>Allez-vous en ressortir indemne ?</p>

  <div class="images-wrapper">
    <img src="assets/background/bloodhand.png" alt="Main gauche" class="hand left-hand" />
    <img src="assets/background/bloodhand2.png" alt="Main droite" class="hand right-hand" />
  </div>

  <button class="start-btn" [routerLink]="['/select']">Commencer</button>
</div>
</body>
